@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  margin: 0;
  font-family: "Satoshi";
}

.slick-prev::before,
.slick-next::before {
  color: #0050c7 !important;
  font-size: 24px;
}
